<%= form_with(model: slot, local: true) do |form| %>

  <% if slot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(slot.errors.count, "error") %> prohibited this slot from being saved:</h2>

      <ul>
        <% slot.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if form.object.persisted? %>
    <div class="container">
      <div class="row">
        <div class="col-sm-4 offset-sm-2 col-lg-3 offset-lg-3 text-center">
          <%= time_tag form.object.date_start %>
        </div>
        <div class="col-sm-4 col-lg-3 text-center">
          <%= time_tag form.object.date_end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="form-group text-center">
    <%= form.label :attendee_id %>
    <%= form.select :attendee_id, options_from_collection_for_select(@attendees, :id, :name) %>
  </div>

  <div class="text-center">
    <%= form.submit class: "btn btn-sm btn-success" %>
  </div>
<% end %>
