<h1 class="text-center mt-0">
  <%= t(:book_slot) %>
</h1>

<h2 class="text-center">
  <small>
    <%= t(:with) %>
  </small>
  <%= @slot.user.name %>
</h2>

<%= form_with(model: @slot, local: true, url: booking_slot_path(@slot.user.slug, @slot.id)) do |form| %>
  <%= form.hidden_field :attendee_id, value: attendee_signed_in? ? current_attendee.id : nil %>

  <div class="container">
    <div class="row">
      <div class="col-sm-4 offset-sm-2 col-lg-3 offset-lg-3 text-center">
        <%= time_tag form.object.date_start %>
      </div>
      <div class="col-sm-4 col-lg-3 text-center">
        <%= time_tag form.object.date_end %>
      </div>
    </div>

    <div class="form-group text-center mt-2">
      <%= form.submit t(:book), class: "btn btn-md btn-success" %>
    </div>
  </div>
<% end %>

<div class="text-center">
  <%= link_to user_profile_path(@slot.user.slug) do %>
    Annuler et retour profil de <%= @slot.user.name %>
  <% end %>
</div>
