<h1 class="text-center mt-0">
  <%= t(@slot.event_type.label, scope: :event_types) %>
</h1>

<div class="row">
  <div class="col-sm-4 offset-sm-2 col-lg-3 offset-lg-3 text-center">
    <%= time_tag @slot.date_start %>
  </div>
  <div class="col-sm-4 col-lg-3 text-center">
    <%= time_tag @slot.date_end %>
  </div>
</div>

<% if @slot.attendee.present? %>
  <h2 class="text-center">
    <small>
      <%= t(:with) %>
    </small>
    <%= link_to @slot.attendee.name, user_attendee_path(current_user.slug, @slot.user_attendee) %>
  </h2>
<% end %>
<%= form_with model: @slot do |form| %>
  <div class="row">
    <div class="col-md-10">
      <div class="mini-trix mb-3">
        <h3 class='mb-0 mt-0'>
          <%= form.label :notes, t('.notes') %>
        </h3>
        <%= form.rich_text_area :notes %>
      </div>
    </div>
    <div class="col-md-2">
      <h3>
        <%= t('.on_time') %>
      </h3>

      <label>
        <%= form.radio_button :on_time, :ok, class: 'hide' %>
        <span class="fas fa-smile fa-2x"></span>
      </label>

      <label>
        <%= form.radio_button :on_time, :neutral, class: 'hide' %>
        <span class="fas fa-meh fa-2x"></span>
      </label>

      <label>
        <%= form.radio_button :on_time, :bad, class: 'hide' %>
        <span class="fas fa-frown fa-2x"></span>
      </label>

      <label>
        <%= form.radio_button :on_time, :danger, class: 'hide' %>
        <span class="fas fa-angry fa-2x"></span>
      </label>

      <h3>
        <%= t('.behaviour') %>
      </h3>
      <label>
        <%= form.radio_button :behaviour, :ok, class: 'hide' %>
        <span class="fas fa-smile fa-2x"></span>
      </label>
      <label>
        <%= form.radio_button :behaviour, :neutral, class: 'hide' %>
        <span class="fas fa-meh fa-2x"></span>
      </label>
      <label>
        <%= form.radio_button :behaviour, :bad, class: 'hide' %>
        <span class="fas fa-frown fa-2x"></span>
      </label>
      <label>
        <%= form.radio_button :behaviour, :danger, class: 'hide' %>
        <span class="fas fa-angry fa-2x"></span>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
    <%= form.submit :save, class: 'btn btn-md btn-success btn-block mt-2' %>
    </div>
  </div>
<% end %>
