<div class="row">
  <div class="col-sm-6">
    <div class="card bg-blue-dark">
      <div class="card-body">
        <%= form_with(model: [:admin, server], local: true) do |form| %>
          <% if server.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(server.errors.count, "error") %> prohibited this server from being saved:</h2>

              <ul>
                <% server.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <%= form.label :url, class: 'form-label mb-0' %>
                </span>
              </div>
              <%= form.text_field :url, class: 'form-control' %>

              <div class="input-group-prepend">
                <span class="input-group-text">
                  <%= form.label :port, class: 'form-label mb-0' %>
                </span>
              </div>
              <%= form.text_field :port, class: 'form-control col-sm-2' %>
            </div>
          </div>

          <div class="form-group">
            <%= form.check_box :sync_from, class: 'switch' %>
            <%= form.label :sync_from, class: 'switch' %>
            <%= form.label :sync_from %>
            <p>
              Means you want to display users <strong>from</strong> this server
            </p>
          </div>

          <div class="form-group">
            <%= form.check_box :sync_to, class: 'switch' %>
            <%= form.label :sync_to, class: 'switch' %>
            <%= form.label :sync_to %>
            <p>
              Means you want to display your users <strong>on</strong> this server
            </p>
          </div>

          <%= form.submit class: 'btn btn-md btn-success btn-block' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card border-dark">
      <div class="card-header bg-dark text-white">
        A server is another website that manages users and attendees like yours do.
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <span class="fas fa-project-diagram"></span>
          Extends the reach of your users profiles.
        </li>
        <li class="list-group-item">
          <span class="fas fa-users"></span>
          Helps building a community of professionals.
          <br>
          <small>
            You will be able to communicate with them.
          </small>
        </li>
        <li class="list-group-item">
          <span class="fas fa-search"></span>
          Gives the possibility to attendees to find more professionals.
        </li>
      </ul>
    </div>
  </div>
</div>

