<%= link_to 'Back', admin_servers_path %>

<h1>Editing Server</h1>

<%= render 'form', server: @server %>

<hr>
<%= link_to 'Destroy', [:admin, @server], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
