<div class="row">
  <div class="col-sm-8">
    <h1 class="mt-0">Servers</h1>
  </div>
  <div class="col-sm-4 text-right">
    <%= link_to 'New Server', new_admin_server_path, class: 'btn btn-success btn-md' %>
  </div>
</div>

<table class="table table-sm table-hover table-dark bg-dark">
  <thead>
    <tr>
      <th>url</th>
      <th>port</th>
      <th>sync_from</th>
      <th>sync_to</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @servers.each do |server| %>
      <tr>
        <td><%= server.url %></td>
        <td><%= server.port %></td>
        <td>
          <% if server.sync_from %>
            <span class="fas fa-check text-success"></span>
          <% end %>
        </td>
        <td>
          <% if server.sync_to %>
            <span class="fas fa-check text-success"></span>
          <% end %>
        </td>
        <td>
          <%= link_to edit_admin_server_path(server), class: "btn btn-sm btn-primary" do %>
            <span class="fas fa-edit"></span>
            <%= t(:edit) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

