<h1 class="m-0">
  <%= t(:settings) %>
</h1>

<div class="row">
  <div class="col-sm-6 mt-2">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="card bg-blue-dark text-light">
        <div class="card-header p-2">
          <h3>
            <span class="fas fa-id-card"></span>
            <%= t('.profile') %>
          </h3>
        </div>
        <div class="card-body p-2">

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>
              Currently waiting confirmation for: <%= resource.unconfirmed_email %>
            </div>
          <% end %>

          <div class="form-group mb-1">
            <%= f.label :firstname %><br />
            <%= f.text_field :firstname, autocomplete: "firstname" %>
          </div>

          <div class="form-group">
            <%= f.label :lastname %><br />
            <%= f.text_field :lastname, autocomplete: "lastname" %>
          </div>

          <div class="actions">
            <%= f.submit "Update", class: 'btn btn-md btn-success btn-block' %>
          </div>

        </div>
      </div>
    <% end %>
  </div>
  <div class="col-sm-6 mt-2">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="card bg-dark text-light">
        <div class="card-header p-2">
          <h3>
            <span class="fas fa-user-shield"></span>
            <%= t(:security) %>
          </h3>

        </div>
        <div class="card-body p-2">

          <div class="form-group">

            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "new-password" %>
            <br>
            <small>(leave blank if you don't want to change it)</small>

            <% if @minimum_password_length %>
              <br />
              <small><%= @minimum_password_length %> characters minimum</small>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
          <div class="form-group">
            <%= f.label :current_password %>
            <%= f.password_field :current_password, autocomplete: "current-password" %>
            <br>
            <small>We need your current password to confirm your changes</small>
          </div>
          <div class="actions">
            <%= f.submit "Update", class: 'btn btn-md btn-success btn-block' %>
          </div>

        </div>
      </div>

    <% end %>
  </div>
</div>

<hr>

<h3>
  <span class="fas fa-trash"></span>
  <%= t(:cancel_my_account, scope: %i(devise registrations edit)) %>
</h3>

<p>
  <%= t(:unhappy, scope: %i(devise registrations edit)) %>
  <%= button_to t(:cancel_my_account, scope: %i(devise registrations edit)), registration_path(resource_name), data: { confirm: t(:are_you_sure, scope: %i(devise registrations edit)) }, method: :delete, class: 'btn btn-sm btn-danger' %>
  <small>
    This will detroy all your profile, meetings, and specific parameters.
    We will not be able to recover anything.
  </small>
</p>
