<div class="center">
  <h1>
    <%= t(:sign_up, scope: [:devise, :registrations, :new]) %>
  </h1>

<div class="row">
  <div class="col-12 col-md-6 order-2 order-sm-1">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <% if @slot.present? %>
        <%= hidden_field_tag :slot, :id, value: @slot.id %>
      <% end %>

      <div  class="form-group">
        <%= f.label :firstname, { class: 'mb-0' } %><br />
        <%= f.text_field :firstname, autocomplete: "firstname", class: "form-control w-100", autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.label :lastname, { class: 'mb-0' } %><br />
        <%= f.text_field :lastname, autocomplete: "lastname", class: "form-control w-100" %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control w-100" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control w-100" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control w-100" %>
      </div>

      <div class="form-group">
        <%= f.submit t(:sign_up, scope: [:devise, :registrations, :new]), class: "btn btn-md btn-block btn-success" %>
      </div>
    <% end %>

  </div>

  <% if @slot.present? %>
    <div class="col-12 col-md-6 order-1 order-sm-2">
      <h2 class="text-center">
        <%= t(:book_slot) %>
      </h2>

      <div class="row">
        <div class="col text-center">
          <%= time_tag @slot.date_start %>
        </div>
        <div class="col text-center">
          <%= time_tag @slot.date_end %>
        </div>
      </div>

      <p class="text-center">
        <%= t(:with) %>
        <%= @slot.user.name %>
      </p>

      <div class="card">
        <div class="card-body">
          <p>
            <span class="fas fa-calendar-check"></span>
            Une fois l'inscription remplie, le rendez-vous sera pris automatiquement.
          </p>
        </div>
      </div>

    </div>
  <% end %>
</div>

  <%= render partial: "attendees/shared/links", locals: { slot: @slot } %>
</div>
