<h2>
  <%= t(:profile, scope: [:devise, :registrations, :edit]) %>
</h2>

<div class="card bg-blue-dark text-white">
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id:'user_profile' }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="row">
        <div class="col-md-6">

          <div class="form-group d-flex flex-column">
            <%= f.label :image %>
            <% if resource.image.attached? %>
              <%= image_tag resource.image.variant(resize_to_limit: [128, 128]), width: '128px' %>
            <% end %>
            <%= f.file_field :image %>
            <% if resource.image.attached? %>
              <%= link_to delete_image_path, class: 'btn btn-sm btn-danger', method: :delete, style: 'width:128px;' do %>
                <span class="fas fa-trash"></span>
                <%= t(:delete) %>
              <% end %>
            <% end %>
          </div>

          <h3>
            <%= f.label :description %>
          </h3>
          <div class="mini-trix">
            <%= f.rich_text_area :description %>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-group">
            <%= f.label :firstname %><br />
            <%= f.text_field :firstname, autocomplete: "firstname", class: "form-control form-control-sm" %>
          </div>
          <div class="form-group">
            <%= f.label :lastname %><br />
            <%= f.text_field :lastname, autocomplete: "lastname", class: "form-control form-control-sm" %>
          </div>
        </div>
      </div>

      <div class="mt-1">
        <%= f.submit "Update", class: 'btn btn-block btn-success btn-md' %>
      </div>

    <% end %>
  </div>
</div>
