<h2>
  <%= t(:security) %>
</h2>

<div class="card-deck">

  <div class="card bg-dark text-white">
    <div class="card-body">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: 'user-security' }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, class: "form-control form-control-sm" %>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, class: "form-control form-control-sm" %>
        </div>

        <div class="form-group">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control form-control-sm" %>
        </div>

        <div class="mt-1">
          <%= f.submit "Update", class: 'btn btn-block btn-success btn-md' %>
        </div>
      <% end %>

    </div>
  </div>

  <div class="card bg-dark text-white">
    <div class="card-body">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id:'user_profile' }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% else %>
          <div class="form-group">
            <%= f.label :email %><br />

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </span>
              </div>
              <%= f.email_field :email, autocomplete: "email", class: "form-control form-control-sm" %>
            </div>
          </div>
        <% end %>
        <div class="mt-1">
          <%= f.submit "Update", class: 'btn btn-block btn-success btn-md' %>
        </div>
      <% end %>

    </div>
  </div>

</div>

<hr>

<h3>
  <span class="fas fa-trash"></span>
  <%= t(:cancel_my_account, scope: %i(devise registrations edit)) %>
</h3>
<p>
  <%= t(:unhappy, scope: %i(devise registrations edit)) %>
  <%= button_to t(:cancel_my_account, scope: %i(devise registrations edit)), registration_path(resource_name), data: { confirm: t(:are_you_sure, scope: %i(devise registrations edit)) }, method: :delete, class: 'btn btn-sm btn-danger' %>
  <small>
    This will detroy all your profile, meetings, and specific parameters.
    We will not be able to recover anything.
  </small>
</p>
