<h2>
  <%= t(:agenda) %>
</h2>

<div class="cards-wrapper">

  <div class="row">
    <div class="col-md-6">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id:'user_work' }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="card bg-dark text-white match-height">
          <div class="card-header p-2">
            <h3>
              <span class="fas fa-calendar-alt"></span>
              <%= t(:agenda) %>
            </h3>
          </div>
          <div class="card-body p-2">
            <div class="row">
              <div class="col-md-4">
                <h4>
                  <%= t(:working_days, scope: [:devise, :registrations, :edit]) %>
                </h4>
                <% I18n.t('date.day_names').map(&:downcase).to_set.each_with_index do |day, index| %>
                  <%= f.check_box :working_days, { multiple: true, checked: resource.working_days && resource.working_days.include?(index+1), class: 'switch switch-sm' }, index+1 %>
                  <%= f.label "working_days_#{index+1}", day.humanize, class: 'switch switch-sm' %>
                  <%= f.label "working_days_#{index+1}", day.humanize %>

                  <%= f.fields_for :working_days, OpenStruct.new(resource.working_days[index+1].to_s => []) do |working_day| %>

                  <% end %>

                  <br>
                <% end %>
              </div>
              <div class="col-md-7">
                <h4>
                  <%= t(:default_hours) %>
                </h4>
                <div class="mb-1">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <span class="fas fa-sun"></span>&nbsp;
                        <%= f.label :default_start_time, t(:default_start_time, scope: [:devise, :registrations, :edit]), { class: 'mb-0'} %>
                      </span>
                    </div>
                    <%= f.time_field :default_start_time, { class: 'form-control', value: f.object.default_start_time.strftime("%H:%M") } %>
                    <div class="input-group-append">
                      <span class="input-group-text">H</span>
                    </div>
                  </div>
                </div>
                <div class="mb-1">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <span class="fas fa-moon"></span>&nbsp;
                        <%= f.label :default_end_time, t(:default_end_time, scope: [:devise, :registrations, :edit]), { class: 'mb-0'} %>
                      </span>
                    </div>
                    <%= f.time_field :default_end_time, { class: 'form-control', value: f.object.default_end_time.strftime("%H:%M") } %>
                    <div class="input-group-append">
                      <span class="input-group-text">H</span>
                    </div>
                  </div>
                </div>

                <%= f.submit t(:save), class: 'btn btn-block btn-success btn-md' %>

              </div>
            </div>
          </div>
          <div class="card-footer">
            <small>
              <%= t(:explain_calendar_display, scope: [:devise, :registrations, :edit]) %>
            </small>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-sm-6">
      <div class="card bg-pink match-height">
        <div class="card-header">
          <div class="row">
            <div class="col-md-5 p-0">
              <h3 class="mb-0 text-light">
                <span class="fas fa-palette"></span>
                <%= t(:label, scope: :event_types) %>
              </h3>
            </div>
            <div class="col-md-7 text-right">
              <%= link_to new_event_type_path, class: "btn btn-md btn-blue-dark" do %>
                <span class="fas fa-plus"></span>
                <%= t(:new, scope: :event_types) %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="card-body p-1">
          <div class="table-responsive">
            <table class="table table-flush table-sm table-striped table-hover table-borderless mb-0 table-dark">
              <thead>
                <tr>
                  <th>Label</th>
                  <th>Color</th>
                  <th>
                    <%= t(:availability, scope: :event_types) %>
                  </th>
                  <th>
                    <%= t(:meeting, scope: :event_types) %>
                  </th>
                  <th>
                    <%= t(:offtime, scope: :event_types) %>
                  </th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <% @event_types.each do |event_type| %>
                  <tr>
                    <td>
                      <%= dynamic_translation(event_type) %>
                    </td>

                    <td style="background-color: <%= event_type.color %>;text-shadow:1px 1px 8px white;">
                      <%= event_type.color %>
                    </td>
                    <td class="text-center">
                      <% if event_type.is_available %>
                        <span class="fas fa-check fa-2x text-success"></span>
                      <% end %>
                    </td>
                    <td class="text-center">
                      <% if event_type.is_meeting %>
                        <span class="fas fa-check fa-2x text-success"></span>
                      <% end %>
                    </td>
                    <td class="text-center">
                      <% if event_type.is_offtime %>
                        <span class="fas fa-check fa-2x text-success"></span>
                      <% end %>
                    </td>
                    <td class="text-right">
                      <%= link_to edit_event_type_path(event_type), class: "btn btn-sm btn-blue-dark" do %>
                        <span class="fas fa-edit"></span>
                        Edit
                      <% end %>

                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <small>
            Permet de définir des couleurs spécifiques pour différents types d'évènement.
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col-md-6">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id:'user_work' }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="card bg-blue match-height">
          <div class="card-header p-2">
            <h3>
              <span class="fas fa-robot"></span>
              <%= t(:automation, scope: [:devise, :registrations, :edit]) %>
            </h3>
          </div>
          <div class="card-body p-2">

            <div class="row mb-1">
              <div class="col-sm-6">
                <h4 class="mt-0 mb-0">
                  <%= f.label :generate_slots, t(:generate_available_slots, scope: [:devise, :registrations, :edit]) %>
                </h4>
                <%= f.check_box :generate_slots, { class: 'switch' } %>
                <%= f.label :generate_slots, t(:generate_available_slots, scope: [:devise, :registrations, :edit]), class: 'switch' %>
              </div>
              <div class="col-sm-6">
                <h4 class="mt-0 mb-0">
                  <%= f.label :public_slots, t(:public_slots_visible, scope: [:devise, :registrations, :edit]) %>
                </h4>
                <%= f.check_box :public_slots, { class: 'switch' } %>
                <%= f.label :public_slots, 'Available slots are public', class: 'switch' %>
              </div>
            </div>

            <h4 class="mt-2">
              <%= t(:working_hours_to_generate, scope: [:devise, :registrations, :edit]) %>
            </h4>

            <% (resource.default_start_time.beginning_of_hour.strftime('%H').to_i..resource.default_end_time.beginning_of_hour.strftime('%H').to_i).map(&:to_s).each do |hour| %>
              <%= f.check_box :working_hours, { multiple: true }, hour, false %>
              <%= f.label "working_hours_#{hour}", hour %>
            <% end %>

            <div  class="mt-2">
              <h4 class="mb-0">
                <%= f.label :default_slot_duration, t(:default_duration, scope: [:devise, :registrations, :edit]), { class: 'mb-0'} %>
              </h4>
              <div class="row">
                <div class="col-sm-5 mt-1">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <span class="fas fa-stopwatch"></span>
                      </span>
                    </div>
                    <%= f.number_field :default_slot_duration, class: 'form-control', min: 1 %>
                    <div class="input-group-append">
                      <span class="input-group-text">
                        min
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 mt-1">
                  <%= f.submit t(:save), class: 'btn btn-block btn-success btn-md' %>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <small>
              <%= t(:explain_public_slots, scope: [:devise, :registrations, :edit]) %>
            </small>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-md-6">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="card bg-dark text-white match-height">
          <div class="card-header p-2">
            <h3>
              <span class="fas fa-ban"></span>
              <%= t(:cancel_strategies, scope: [:devise, :registrations, :edit]) %>
            </h3>
          </div>
          <div class="card-body p-2">

            <div class="mt-3 mb-3">
              <div class="row">
                <div class="col-sm-5">
                  <label>
                    <span class="fas fa-stopwatch"></span>
                    Délais de prévenance
                  </label>
                </div>
                <div class="col-sm-4">

                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <span class="fas fa-stopwatch"></span>
                      </span>
                    </div>
                    <%= f.number_field :cancel_delay, class: 'form-control', min: 0 %>
                    <div class="input-group-append">
                      <span class="input-group-text">
                        H
                      </span>
                    </div>
                  </div>

                </div>
              </div>
              <small class="">
                Un rendez-vous non-annulé et non-assuré sera marqué manqué.
                <br>
                Un rendez-vous manqué hors délais de prévenance ne sera pas supprimé afin de garder la trace.
              </small>
            </div>

            <div class="mt-3 mb-3">

              <h4 class="mt-0 mb-0 text-white">
                <span class="fas fa-calendar-day"></span>
                <%= f.label :cancel_reopen, t(:cancel_reopen, scope: [:devise, :registrations, :edit]) %>
              </h4>
              <%= f.check_box :cancel_reopen, { class: 'switch' } %>
              <%= f.label :cancel_reopen, t(:cancel_reopen, scope: [:devise, :registrations, :edit]), class: 'switch' %>

              <br>
              <small class="">
                Recréer une disponibilité ouverte après l'annulation d'une disponibilité réservée.
              </small>
            </div>

            <%= f.submit t(:save), class: 'btn btn-block btn-success btn-md' %>

          </div>
          <div class="card-footer">
            <small>
              <%= t(:explain_cancel_strategies, scope: [:devise, :registrations, :edit]) %>
            </small>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
