<h1 class="m-0">
  <%= t(:settings) %>
</h1>

<% if resource.slug.present? %>
  <small>
    <strong><%= t('.public_profile') %>:</strong>
    <span>
      <%= link_to user_profile_path(resource.slug), user_profile_url(resource.slug), target: '_blank' %>
    </span>
  </small>
<% end %>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="work-tab" data-toggle="tab" href="#work" role="tab" aria-controls="work" aria-selected="true">
      <%= t(:agenda) %>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">
      <%= t(:profile, scope: [:devise, :registrations, :edit]) %>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="security-tab" data-toggle="tab" href="#security" role="tab" aria-controls="security" aria-selected="false">
      <%= t(:security, scope: [:devise, :registrations, :edit]) %>
    </a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active" id="work" role="tabpanel" aria-labelledby="work-tab">
    <%= render partial: 'work' %>
  </div>

  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <%= render partial: 'profile' %>
  </div>

  <div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="security-tab">
    <%= render partial: 'security' %>
  </div>

</div>

