<div class="center">
  <h1>
    <%= t(:sign_up, scope: [:devise, :registrations, :new]) %>
  </h1>
  <h2>
    <%= t(:pro) %>
  </h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :firstname %><br />
      <%= f.text_field :firstname, autocomplete: "firstname", autofocus: true, class: "form-control w-100" %>
    </div>
    <div class="form-group">
      <%= f.label :lastname %><br />
      <%= f.text_field :lastname, autocomplete: "lastname", class: "form-control w-100" %>
    </div>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email", class: "form-control w-100" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control w-100" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control w-100" %>
    </div>

    <%= text_field_tag :dummy_robot, nil, class: :dummy_robot %>

    <div class="form-group">
      <%= f.submit "Sign up", class: "btn btn-md btn-block btn-success" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
