<%= form_with(model: [:admin, user], local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= form.label :firstname %>
    <%= form.text_field :firstname, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= form.label :lastname %>
    <%= form.text_field :lastname, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= form.label :email %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit t(:save), class: 'btn btn-success' %>
  </div>
<% end %>
