<h1>
  Editing User:
  <%= @user.name %>
</h1>

<div class="row">
  <div class="col-sm-6">
    <%= render 'form', user: @user %>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">

        <span class="badge badge-pill badge-light">
          <%= @user.slots.count %>
        </span>
        &nbsp;Slots

        <br>

        <span class="badge badge-pill badge-light">
          <%= @user.user_attendees.count %>
        </span>
        &nbsp;
        <%= t(:attendees, scope: :users) %>

      </div>
    </div>
  </div>
</div>

<hr>

<%= link_to admin_user_path(@user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' do %>
  <span class="fas fa-trash"></span>
  <%= t(:delete) %>
<% end %>
