<div class="row">
  <div class="col-sm-8">
    <h1 class="mt-0">Users</h1>
  </div>
  <div class="col-sm-4 text-right">
    <%= link_to 'New User', new_admin_user_path, class: 'btn btn-success btn-md' %>
  </div>
</div>

<table class="table table-sm table-hover table-dark bg-dark">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Slug</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.id %>
        </td>
        <td>
          <%= user.firstname %>
        </td>
        <td>
          <%= user.lastname %>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= user.slug %>
        </td>
        <td>
          <span class="badge badge-pill badge-light">
            <%= user.slots.count %>
          </span>
          &nbsp;Slots

          <br>

          <span class="badge badge-pill badge-light">
            <%= user.user_attendees.count %>
          </span>
          &nbsp;
          <%= t(:attendees, scope: :users) %>
        </td>
        <td>
          <%= link_to edit_admin_user_path(user), class: 'btn btn-sm btn-primary' do %>
            <span class="fas fa-edit"></span>
            <%= t(:edit) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
