<h1>Welcome on Kal !</h1>

<p>
  <%= @greeting %>, <%= @user.name %>
</p>
<p>
  You have been registered on <a href="https://kal.federa.tech">kal.federa.tech</a>.
  <br>
  Your login is your email.
  <br>
  Your temporary password is <strong><%= @temporary_generated_password %></strong>
  <br>
  <small>You should change it on first login.</small>
</p>
