<div id="user" class="row" data-slug="<%= user_signed_in? ? current_user.slug : nil %>" data-working-hour-start="<%= current_user.default_start_time.beginning_of_hour.strftime('%H:%M:00') %>" data-working-hour-end="<%= current_user.default_end_time.end_of_hour.strftime('%H:%M:00') %>" data-default-slot-duration="<%= current_user.default_slot_duration %>">
  <% if user_signed_in? %>
    <div class="col-sm-3 pr-1">
      <div class="mini-trix mb-3">
        <%= form_with model: current_user, scope: :user, url: registration_path(:user), html: { method: :put } do |form| %>

          <h2 class='mb-0 mt-0'>
            <%= form.label :notes, t('.notes') %>
          </h2>

          <%= form.rich_text_area :notes %>
          <%= form.submit :save, class: 'btn btn-sm btn-success btn-block mt-2' %>
        <% end %>
      </div>

      <fieldset id="context" style="display: none;">
        <div>
        </div>
      </fieldset>

    </div>
  <% end %>

  <div class="col pl-1">
    <div id="calendar" data-hidden-days="<%= @hidden_days_indexes %>" data-working-days-count="<%= current_user.working_days.length %>"></div>
  </div>
</div>

<div id="rdv-modal" class="modal fade" tabindex="-1" role="dialog" aria-label="RDV" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header p-2">
        <h4 class="modal-title w-100 text-center"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center form-group">
        <div class="row">
          <div class="col">
            <p class="start mt-3 mb-1"></p>
            <p class="end mb-1"></p>

            <select id="event_type" name="event_type" class="form-control custom-select">
              <% @event_types.each do |event_type| %>
                <option value="<%= event_type.id %>" data-type="<%= event_type_data_type(event_type) %>">
                  <%= dynamic_translation(event_type) %>
                </option>
              <% end %>

            </select>
          </div>
          <div class="col" style="display: none;">

            <%= t(:with) %>

            <%= select_tag :attendee_id, options_from_collection_for_select(@attendees, :id, :name), style: 'display:none;', class: 'form-control custom-select' %>

            <div class="h5 hr-around">
              <%= t(:or) %>
            </div>

            <div class="card bg-blue-dark text-white">
              <div class="card-header">
                <%= t('.create_attendee') %>
              </div>
              <div class="card-body">
                <%= form_with(model: Attendee.new, id: 'new_attendee_for_event', url: user_attendees_path(current_user)) do |form| %>
                  <div class="form-group">
                    <%= form.label :firstname %>
                    <%= form.text_field :firstname, autocomplete: "firstname", autofocus: true, class: 'form-control' %>
                  </div>

                  <div class="form-group">
                    <%= form.label :lastname %>
                    <%= form.text_field :lastname, autocomplete: "lastname", class: 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= form.submit class: 'btn btn-md btn-success' %>
                  </div>
                <% end %>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="modal-footer p-2 d-flex justify-content-between">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <%= t(:cancel) %>
        </button>
        <button type="button" id="save-slot" class="btn btn-success">
          <%= t(:save) %>
        </button>
      </div>
    </div>
  </div>
</div>
