<div itemscope itemtype="http://schema.org/LocalBusiness">
  <h1 itemprop="name" class="mb-0"><%= @user.name %></h1>

  <div class="row">
    <div class="col-sm-4">

      <% if @user.image.attached? %>
        <%= image_tag @user.image.variant(resize_to_limit: [128, 128]), { itemprop: 'image', alt: t('.image')  }%>
      <% end %>

      <% if @user.description.to_plain_text.present? %>
        <div class="card mt-1 p-2 bg-dark text-white rounded-0 description" itemprop="description">
          <%= @user.description %>
        </div>
      <% end %>

      <% if @working_days.present? %>
        <h2 class="mt-1 mb-0"><%= t('.available_on') %></h2>
        <ul class="list-group mt-0" itemprop="openingHours" content="<%= @working_days.map { |dayindex| User::DAYS[dayindex] }.join(',') %> <%= @user.default_start_time.strftime('%H:%M') %>-<%= @user.default_end_time.strftime('%H:%M') %>">
          <% @working_days.each do |dayindex| %>
            <li class="list-group-item">
              <%= I18n.t('date.day_names')[dayindex] %>
            </li>
          <% end %>
        </ul>
      <% end %>

    </div>

    <div class="col-sm-8">

      <% if @user.public_slots? && @available_slots.present? %>
        <h2 class="mt-0">
          <%= t('.next_available_slots') %>
        </h2>
        <ul class="list-group">
          <% @available_slots.each do |slot| %>
            <li class="list-group-item list-group-item-action">
              <%= link_to book_slot_path(@user.slug, slot) do %>
                <%= time_tag slot.date_start %>
              <% end %>
              <%= slot.attendee_id %>
            </li>
          <% end %>
        </ul>
      <% end %>

    </div>

  </div>
</div>
