<div class="center">

  <h2>Change your password</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-group">
      <%= f.label :password, "New password", { class: 'mb-0' } %>

      <% if @minimum_password_length %>
        <small>(<%= @minimum_password_length %> characters minimum)</small>
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control w-100" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Confirm new password", { class: 'mb-0' } %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control w-100" %>
    </div>

    <div class="form-group">
      <%= f.submit "Change my password", class: "btn btn-md btn-block btn-success" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>
