<div class="center">
  <h1>
    <%= t(:forgot_your_password, scope: [:devise, :passwords, :new]) %>
  </h1>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :email, { class: 'mb-0' } %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control w-100" %>
    </div>

    <div class="form-group">
      <%= f.submit t(:send_me_reset_password_instructions, scope: [:devise, :passwords, :new]), class: "btn btn-md btn-block btn-success" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
