<div class="form-group">
  <%= form.label :firstname %><br />
  <%= form.text_field :firstname, autocomplete: "firstname", autofocus: true, class: 'form-control' %>
</div>

<div class="form-group">
  <%= form.label :lastname %><br />
  <%= form.text_field :lastname, autocomplete: "lastname", class: 'form-control' %>
</div>

<% if form.object.encrypted_password.blank? %>
  <div class="form-group">
    <%= form.label :email %><br />
    <%= form.text_field :email, autocomplete: "email", class: 'form-control' %>
  </div>
<% else %>
  <div class="form-group">
    <div class="input-group col-3 ml-0 pl-0">
      <div class="input-group-prepend">
        <span class="input-group-text">
          Email
        </span>
      </div>
      <input type="text" class="form-control" aria-label="email" value="<%= attendee.email %>" disabled>
    </div>
    <small>
      This account has been claimed by its owner, you cannot modify this field.
    </small>
  </div>
<% end %>

<% if form.object.encrypted_password.blank? || form.object.phone.blank? %>
  <div class="form-group">
    <%= form.label :phone %><br />
    <%= form.text_field :phone, autocomplete: "phone", class: 'form-control' %>
  </div>
<% else %>
  <div class="form-group">
    <div class="input-group col-3 ml-0 pl-0">
      <div class="input-group-prepend">
        <span class="input-group-text">
          Phone
        </span>
      </div>
      <input type="text" class="form-control" aria-label="phone" value="<%= attendee.phone %>" disabled>
    </div>
    <small>
      This account has been claimed by its owner, you cannot modify this field.
    </small>
  </div>
<% end %>

<div class="form-group">
  <%= form.submit class: 'btn btn-md btn-success' %>
</div>

