<h1>Editing User Attendee</h1>

<%= form_with(model: @attendee, local: true, url: user_attendee_path(current_user)) do |form| %>
  <% if @attendee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendee.errors.count, "error") %> prohibited this attendee from being saved:</h2>

      <ul>
        <% @attendee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= render 'form', attendee: @attendee, user_attendee: @user_attendee, form: form %>
<% end %>

<%= link_to 'Show', @user_attendee %> |
<%= link_to 'Back', user_attendees_path %>
