<h1 class="m-0">
  <%= t(:attendees, scope: :users) %>
</h1>

<%= link_to new_user_attendee_path, class: 'btn btn-success btn-sm' do %>
  Add attendee
<% end %>

<div class="table-responsive mt-2">
  <table class="table table-sm table-hover table-dark">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Nb RDV</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @user_attendees.each do |user_attendee| %>
        <tr>
          <td class="text-center">
            <span class="fas fa-user-circle fa-2x"></span>
          </td>
          <td>
            <%= user_attendee.attendee.name %>
          </td>
          <td>
            <%= link_to user_attendee.attendee.email, "mailto:#{user_attendee.attendee.email}" %>
          </td>
          <td>
            <%= link_to user_attendee.attendee.phone, "tel:#{user_attendee.attendee.phone}" %>
          </td>
          <td>
            <%= user_attendee.attendee.slots_with(current_user) %>
          </td>
          <td class="text-right">
            <%= link_to edit_user_attendee_path(current_user, user_attendee), class: 'btn btn-sm btn-secondary' do %>
              <span class="fas fa-edit"></span>
              <%= t(:edit) %>
            <% end %>
            <%= link_to user_attendee_path(current_user, user_attendee), class: 'btn btn-sm btn-secondary' do %>
              <span class="fas fa-eye"></span>
              <%= t(:show) %>
            <% end %>

            <%= link_to user_attendee_path(current_user, user_attendee), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" do %>

              <span class="fas fa-trash"></span>
              <%= :destroy %>
            <% end %>

          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>


