<div class="row">
  <div class="col-md-10">
    <h1 class="mt-0">
      <%= @attendee.name %>
    </h1>
  </div>
  <div class="col-md-2 text-right">
    <%= link_to edit_user_attendee_path(@user_attendee), class: 'btn btn-md btn-info btn-block' do %>
      <span class="fas fa-edit"></span>
      <%= t(:edit) %>
    <% end %>

  </div>
</div>

<div class="row">
  <div class="col-md-10">
    <%= @attendee.description %>
    <% if @meetings.any? %>
      <h2 class="mt-0">
        Last meeting
      </h2>
      <% if @meetings.last.notes.present? %>
        <%= @meetings.last.notes %>
      <% else %>
        <i>No notes took on the last meeting</i>
      <% end %>

      <div class="row">
        <% @meetings.each do |meeting| %>
          <div class="col-sm-3">
            <%= link_to slot_path(meeting.user.slug, meeting) do %>
              <div class="card <%= meeting.date_start > Time.now ? 'bg-blue' : 'bg-dark' %> text-white mt-2">
                <div class="card-body p-2">

                  <%= time_tag meeting.date_start %>
                  <br>
                  <small>
                    <%= distance_of_time_in_words(meeting.date_end, meeting.date_start) %>
                  </small>

                </div>
              </div>
            <% end %>

          </div>
        <% end %>
      </div>

    <% end %>
  </div>
  <div class="col-md-2">
    <hr>
    <h2>
      On time
    </h2>
    <%= display_on_time(@on_time) %>

    <h2>Behaviour</h2>
    <%= display_on_time(@behaviour) %>

    <h2>Stats</h2>
    <%= @meetings.count %> <%= t(:meetings) %>
  </div>
