<h1>
  <%= t(:agenda) %>
  <%= current_attendee.name %>
</h1>

<% if @slots.present? %>
  <h2>
    <%= t('.next_meetings') %>
  </h2>
  <div class="row">
    <% @slots.each do |slot| %>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-header d-flex justify-content-between">
            <%= slot.date_start.strftime("%e %B %Y") %>
            <span>
              <% if slot.date_end > Date.today %>
                <%= time_ago_in_words(slot.date_start) %>
              <% end %>
            </span>
          </div>
          <div class="card-body pb-2 pt-2">
            <%= slot.date_start.strftime("%H:%M") %>
            -
            <%= slot.date_end.strftime('%H:%M') %>
            <br>
            <%= link_to user_profile_path(slot.user) do %>
              <%= slot.user.name %>
            <% end %>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <p>
              <%= distance_of_time_in_words(slot.date_end, slot.date_start) %>
            </p>

            <% if slot.date_end > Date.today %>
              <%= link_to cancel_attendee_slot_path(current_attendee, slot), method: :put, class: 'btn btn-warning btn-sm' do %>
                <span class="fas fa-eraser"></span>
                <%= t(:cancel) %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<% else %>
  <p>
    <%= t('.no_future_meetings') %>
  </p>
<% end %>

