<h1>Modifier participant</h1>


<div class="card bg-blue text-white">
  <div class="card-body row">
    <div  class="col-sm-4">
      <div class="mb-2">
        <strong><%= t(:firstname, scope: %i(activerecord attributes user)) %></strong>
        <%= @attendee.firstname %>
      </div>
      <div class="mb-2">
        <strong><%= t(:lastname, scope: %i(activerecord attributes user)) %></strong>
        <%= @attendee.lastname %>
      </div>
    </div>

    <div  class="col-sm-4">

      <div class="mb-2">
        <strong>
          <span class="fas fa-envelope"></span>
          <%= t(:email, scope: %i(activerecord attributes user)) %>
        </strong>
        <%= @attendee.email %>
      </div>

      <div class="mb-2">
        <strong>
          <span class="fas fa-phone"></span>
          <%= t(:phone, scope: %i(activerecord attributes user)) %>
        </strong>
        <%= @attendee.phone %>
      </div>

    </div>
  </div>
  <div class="card-footer text-blue-light pt-1 pb-1">
    <small>
      Above informations are only editable by the attendee.
    </small>
  </div>
</div>

<%= form_with(model: @attendee, local: true) do |form| %>
  <% if @attendee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendee.errors.count, "error") %> prohibited this @attendee from being saved:</h2>

      <ul>
        <% @attendee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-1">
    <div  class="col">
      <div class="mini-trix">
        <%= form.label :description, { class: 'mb-0' } %>
        <%= form.rich_text_area :description %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.submit class: "btn btn-md btn-success btn-block" %>
  </div>
<% end %>

<hr>

<%= link_to attendee_path(current_user.slug, @attendee), class: 'btn btn-sm btn-danger', method: :delete do %>
  <span class="fas fa-trash"></span>
  <%= t(:delete) %>
<% end %>
