<% if @start.present? %>
  <h2 class="blue_dark">
    <%= time_tag @start, format: :short %> -
    <%= time_tag @end, format: :short %>
  </h2>
<% end %>

<h3>Nouveau contact</h3>

<%= form_with(model: @attendee, local: true) do |form| %>
  <% if @attendee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendee.errors.count, "error") %> prohibited this @attendee from being saved:</h2>

      <ul>
        <% @attendee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @start.present? %>
    <%= form.fields_for :slots, @slot do |ff| %>
      <%= ff.hidden_field :date_start, value: @start %>
      <%= ff.hidden_field :date_end, value: @end %>
      <%= form.hidden_field :user_id, value: @user.id %>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= form.label :firstname %><br />
    <%= form.text_field :firstname, autocomplete: "firstname", autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :lastname %><br />
    <%= form.text_field :lastname, autocomplete: "lastname", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :email %><br />
    <%= form.text_field :email, autocomplete: "email", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :phone %><br />
    <%= form.text_field :phone, autocomplete: "phone", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit class: 'btn btn-md btn-success' %>
  </div>
<% end %>
