<h1 class="mt-0 mb-0">
  <%= t(:agenda) %>
</h1>

<h2>
  <%= t(:title, scope: %i(home index)) %>
</h2>

<div class="row">
  <div class="col-sm-2 order-md-1 order-2">
    <%= image_pack_tag "undraw_calendar_dutt.svg", width: '100%' %>
  </div>
  <div class="col-sm-4 order-md-2 order-1">
    <h3>
      <%= t(:arg1, scope: %i(home index agenda)) %>
    </h3>
    <p>
      <%= t(:arg1_explain, scope: %i(home index agenda)) %>
      <br>
    </p>
    <h4>
      <%= t(:arg6, scope: %i(home agenda)) %>
    </h4>
    <p>
      <%= t(:arg6_explain, scope: %i(home agenda)) %>
    </p>
  </div>

  <div class="col-sm-2 order-md-3 order-4">
    <%= image_pack_tag "undraw_Booked_j7rj.svg", width: '100%' %>
  </div>
  <div class="col-sm-4 order-md-4 order-3">
    <div class="row">
      <div class="col">
        <h3>
          <%= t(:arg2, scope: %i(home index agenda)) %>
        </h3>
        <p>
          <%= t(:arg2_explain, scope: %i(home index agenda)) %>
        </p>
      </div>
    </div>
  </div>

</div>

<div class="row mt-3">
  <div class="col-sm-2 order-md-1 order-2">
    <%= image_pack_tag "undraw_profile_6l1l.svg", width: '100%' %>
  </div>
  <div class="col-sm-4 order-md-2 order-1">
    <h3>
      <%= t(:arg4, scope: %i(home index agenda)) %>
    </h3>
    <p>
      <%= t(:arg4_explain, scope: %i(home index agenda)) %>
    </p>
    <%= t(:arg4_explain_more_html, scope: %i(home index agenda)) %>
  </div>

  <div class="col-sm-2 order-md-3 order-4">
    <%= image_pack_tag "undraw_timeline_9u4u.svg", width: '100%' %>
  </div>
  <div class="col-sm-4 order-md-4 order-3">
    <h3>
      <%= t(:arg3, scope: %i(home index agenda)) %>
    </h3>
    <p>
      <%= t(:arg3_explain, scope: %i(home index agenda)) %>
    </p>
  </div>
</div>


<div class="row mt-3">
  <div class="col-sm-2 order-md-1 order-2">
    <%= image_pack_tag "undraw_grades_j6jn.svg", width: '100%' %>
  </div>
  <div class="col-sm-4 order-md-2 order-1">
    <h3>
      <%= t(:arg5, scope: %i(home agenda)) %>
    </h3>
    <p>
      <%= t(:arg5_explain, scope: %i(home agenda)) %>
    </p>
  </div>
  <div class="col-sm-6 order-3">
    <h3>Screenshots</h3>
    <div class="flip-wrapper js-modal" data-modal-content-id="modal-agenda" data-modal-describedby-id="modal_description" data-modal-close-text="<%= t(:close) %>" data-modal-close-title="<%= t(:close) %>">
      <div class="flipper">
        <%= image_pack_tag "screenshots/agenda-light.png", width: '100%', class: 'front' %>
        <%= image_pack_tag "screenshots/agenda-dark.png", width: '100%', class: 'back' %>
      </div>
    </div>
  </div>
</div>

<div id="modal-agenda" class="hidden">

  <div class="js-carrousel relative" id="modal-carousel-agenda">
    <div class="js-carrousel__container mod--hidden"
     data-carrousel-btn-previous-img="left.svg"
     data-carrousel-btn-next-img="right.svg"
     data-carrousel-btn-previous-text="< Previous"
     data-carrousel-btn-next-text="Next >"
     data-carrousel-prefix-class="news"
     data-carrousel-span-text-class="invisible"
     data-carrousel-transition="slide"
     data-carrousel-existing-hx="h3">

      <div class="js-carrousel__content">
        <h3>Agenda page</h3>
        <p>
          <%= image_pack_tag "screenshots/agenda-light.png", width: '100%', alt: "Agenda page view" %>
        </p>
      </div>
      <div class="js-carrousel__content">
        <h3>Agenda page - dark mode</h3>
        <p>
          <%= image_pack_tag "screenshots/agenda-dark.png", width: '100%', alt: "Agenda page view in dark mode" %>
        </p>
      </div>
      <div class="js-carrousel__content">
        <h3>Parameters page</h3>
        <p>
          <%= image_pack_tag "screenshots/parameters-light.png", width: '100%', alt: "Let you configure your agenda, its automation, cancelation strategies & event types." %>
        </p>
      </div>
      <div class="js-carrousel__content">
        <h3>Parameters page - dark mode</h3>
        <p>
          <%= image_pack_tag "screenshots/parameters-dark.png", width: '100%', alt: "Let you configure your agenda, its automation, cancelation strategies & event types." %>
        </p>
      </div>
      <div class="js-carrousel__content">
        <h3>Admin dashboard</h3>
        <p>
          <%= image_pack_tag "screenshots/admin-light.png", width: '100%', alt: "Fast situation overview of the website, important pages, users and federated servers." %>
        </p>
      </div>
      <div class="js-carrousel__content">
        <h3>Admin dashboard - dark mode</h3>
        <p>
          <%= image_pack_tag "screenshots/admin-dark.png", width: '100%', alt: "Fast situation overview of the website, important pages, users and federated servers." %>
        </p>
      </div>
    </div>
  </div>

</div>
<div id="modal_description" class="hidden">
  <p>
    Voici l'interface principale de votre Agenda.
    A gauche une zone pour prendre des notes générales.
    A droite, prenant 80% de l'écran, l'agenda, présenté par jours travaillés, par semaine, ou par mois.
  </p>
</div>

