<h1>
  <span class="fas fa-heart"></span>
  Credits
</h1>

<div class="row">
  <div class="col-sm">
    <h2>Technologies / code</h2>
    <ul>
      <li>
        <a href="https://rubyonrails.org" rel="noopener">
          Ruby on Rails
        </a>
      </li>
      <li>
        <a href="https://www.ruby-lang.org" rel="noopener">
          Ruby
        </a>
      </li>
      <li>
        <a href="https://fullcalendar.io" rel="noopener">
        Fullcalendar
        </a>
      </li>
      <li>
        <a href="https://getbootstrap.com/" rel="noopener">
          Twitter Bootstrap
        </a>
      </li>
      <li>
        <a href="https://fontawesome.com" rel="noopener">
          FontAwesome
        </a>
      </li>
      <li>
        <a href="https://van11y.net" rel="noopener">
          https://van11y.net
        </a>
        <br>
        <ul>
          <li>van11y-accessible-carrousel-aria</li>
          <li>van11y-accessible-modal-window-aria</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="col-sm-3">
    <h2>Design / UX</h2>
    <ul>
      <li>
        <a href="https://undraw.co/" rel="noopener">
          Undraw
        </a>
      </li>
      <li>
        <a href="https://www.colourlovers.com/" rel="noopener">
          ColorLovers
        </a>
      </li>
      <li>
        <a href="http://paletton.com/" rel="noopener">
          Paleton
        </a>
      </li>
    </ul>
  </div>
  <div class="col-sm">
    <%= image_pack_tag "undraw_static_assets_rpm6.svg", width: '100%' %>
  </div>
</div>
