<h1>
  <span class="fas fa-globe"></span>
  <%= t(:title, scope: %i(home index decentralized)) %>
</h1>

<div class="row">
  <div class="col-sm-2 order-md-1 order-2">
    <%= image_pack_tag "undraw_connected_world_wuay.svg", width: '100%' %>
  </div>
  <div class="col-sm-10 order-md-2 order-1">
    <h2>
      <%= t(:title, scope: %i(home decentralize what)) %>
    </h2>
    <p>
     Decentralisation means there are <strong>many different servers</strong>, linked or not between each other, running the service.
     <br>
     Decentralization, also called distributed architecture, is the opposite of centralized systems, where everything is on the same server.
     <br>
     In a distributed architecture each of thoses server are <strong>owned by different entities.</strong>
     <small>individuals, companies, associations, etc </small>
     <br>
     Each of thoses server runs the service on <strong>their own database</strong>.
     <br>
     Each of thoses server can have a customized version of the service.
    </p>
    <p>
      The power of decentralisation really shines when those servers are <i>connected</i> to each other, displaying information from each others without having to store it.
      <br>
      It is sometimes called a <strong>federated</strong> service.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-2 order-md-1 order-2">

  </div>
  <div class="col-sm-10 order-md-2 order-1">
    <h2>
      <%= t(:title, scope: %i(home decentralize why)) %>
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 order-md-1 order-2">
    <%= image_pack_tag "undraw_floating.svg", width: '100%' %>
  </div>
  <div class="col-sm-4 order-md-2 order-1">
    <h3>
      <%= t(:liberty, scope: %i(home decentralize why)) %>
    </h3>
    <p>
      Everyone can host its own server/service.
      <br>
      You are NOT bound to us. You are free.
    </p>
    <p>
      Everyone can leave a server and go to another one.
      <br>
      You are NOT bound to anyone. You are free.
    </p>
    <p>
      Every service can echo/distribute another one.
      <br>
      You can be a part of a community of peers.
    </p>
  </div>
  <div class="col-sm-2 order-md-3 order-4">
    <%= image_pack_tag "undraw_security_on.svg", width: '100%' %>
  </div>
  <div class="col-sm-4 order-md-4 order-3">
    <h3>
      <%= t(:security) %>
    </h3>
    <p class="mt-3">
     Thanks to decentralized architecture, we physically
     <ul>
      <li>reduce global indisponibility of the service</li>
      <li>shorten the range of attack on datas</li>
     </ul>
     Because all servers are independent, the mesh is stronger and one down does not affect the whole group.
    </p>
    <%= link_to security_path, class: 'btn btn-blue btn-block' do %>
      <%= t(:learn_more_security) %>
    <% end %>
  </div>
</div>
