<h1 class="mt-0 mb-0">
  <%= t(:appname) %>
</h1>

<h2>
  <%= t('.title') %>
</h2>
<p itemprop="about">
  <%= t('.liberty_has_no_price') %>
</p>

<hr>

<h2>
  <%= t('.last_subscribers') %>
</h2>
<div class="container-fluid" id="home_index">
  <% if @users.present? && @users.any? %>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <% @users.each do |user| %>
        <div class="col-sm-1 col-md-6 mb-1">
          <div class="card bg-blue">
            <div class="card-header">
              <%= link_to user_profile_path(user.slug) do %>
                <% if user.image.attached? %>
                  <%= image_tag user.image.variant(resize_to_limit: [64, 64]), { itemprop: 'image', alt: t(:image, scope: %i(users profile)) } %>
                <% end %>
                <%= user.name %>
              <% end %>
            </div>
            <div class="card-body">
              <%= user.description %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div id="other_users" class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mt-2" data-title="Sur d'autres plateformes"></div>

  <% if @home_disclaimer.present? %>
    <div class="jumbotron text-center">
      <%= @home_disclaimer %>
    </div>
  <% end %>

  <div class="row mt-2">
    <div class="col-sm-6 order-md-1 order-2">
      <%= image_pack_tag "undraw_events_2p66.svg", width: '100%', alt: 'woman looking at a giant calendar filled with events' %>
    </div>
    <div class="col-sm-6 order-md-2 order-1 p-1">
      <h3>
        <%= t(:title, scope: %i(home index agenda)) %>
      </h3>
      <ul class="list-group">
        <li class="list-group-item">
          <h4 class="mb-0">
            <%= t(:arg1, scope: %i(home index agenda)) %>
          </h4>
          <small class="invisible-mobile">
            <%= t(:arg1_explain, scope: %i(home index agenda)) %>
          </small>
        </li>
        <li class="list-group-item">
          <h4 class="mb-0">
            <%= t(:arg2, scope: %i(home index agenda)) %>
          </h4>
          <small class="invisible-mobile">
            <%= t(:arg2_explain, scope: %i(home index agenda)) %>
          </small>
        </li>
        <li class="list-group-item">
          <h4 class="mb-0">
            <%= t(:arg3, scope: %i(home index agenda)) %>
          </h4>
          <small class="invisible-mobile">
            <%= t(:arg3_explain, scope: %i(home index agenda)) %>
          </small>
        </li>
        <li class="list-group-item">
          <h4 class="mb-0">
            <%= t(:arg4, scope: %i(home index agenda)) %>
          </h4>
          <small class="invisible-mobile">
            <%= t(:arg4_explain, scope: %i(home index agenda)) %>
          </small>
        </li>
      </ul>

      <div class="row mt-2">
        <div class="col <%= @settings.register_pro? ? 'pr-1' : ''%>">
          <%= link_to agenda_path, class: 'btn btn-lg btn-block btn-blue' do %>
            <span class="fas fa-info-circle"></span>
            <div class="visible-mobile"></div>
            <%= t('.know_more') %>
          <% end %>
        </div>
        <% if @settings.register_pro? %>
          <div class="col pl-1">
            <%= link_to new_user_registration_path, class: 'btn btn-lg btn-block btn-pink' do %>
              <%= t('.try_it') %>
              <span class="fas fa-chevron-circle-right"></span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-sm-6 order-md-1 order-1">
      <h3>
        <%= t(:title, scope: %i(home index decentralized)) %>
      </h3>
      <ul class="list-group">
        <li class="list-group-item">
          <h4 class="mb-0">
            <%= t(:arg1, scope: %i(home index decentralized)) %>
          </h4>
          <small class="invisible-mobile">
            <%= t(:arg1_explain, scope: %i(home index decentralized)) %>
          </small>
        </li>
        <li class="list-group-item">
          <h4 class="mb-0">
            <%= t(:arg2, scope: %i(home index decentralized)) %>
          </h4>
          <small class="invisible-mobile">
            <%= t(:arg2_explain, scope: %i(home index decentralized)) %>
            <br>
            <%= t(:arg3_explain, scope: %i(home index decentralized)) %>
          </small>
        </li>
        <li class="list-group-item">
          <h4 class="mb-0">
            <%= t(:arg4, scope: %i(home index decentralized)) %>
          </h4>
          <small class="invisible-mobile">
            <%= t(:arg4_explain, scope: %i(home index decentralized)) %>
          </small>
        </li>
      </ul>
      <%= link_to decentralize_path, class: 'btn btn-lg btn-block btn-blue mt-2' do %>
        <span class="fas fa-info-circle"></span>
        <%= t('.know_more') %>
      <% end %>
    </div>
    <div class="col-sm-6 order-md-2 order-2">
      <%= image_pack_tag "undraw_connected_world_wuay.svg", width: '100%', alt: 'world map with distributed connections among countries' %>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-sm-6 order-md-1 order-2">
      <%= image_pack_tag "undraw_open_source_1qxw.svg", width: '100%', alt: 'two people working on a computer with a Creative Commons logo in background' %>
    </div>
    <div class="col-sm-6 order-md-2 order-1">
      <h3>
        <%= t(:title, scope: %i(home index open_source)) %>
      </h3>
      <%= t(:paragraph_html, scope: %i(home index open_source)) %>
    </div>
  </div>
</div>
