<h1>
  <%= t(:privacy) %>
</h1>

<div class="row">
  <div class="col-sm-5 order-md-1 order-2">
    <%= image_pack_tag "undraw_gdpr.svg", width: '100%' %>
  </div>
  <div class="col-sm-7 order-md-2 order-1">
    <%= @privacy %>
  </div>
</div>
