<h1>
  <span class="fas fa-shield-alt"></span>
  <%= t(:security) %>
</h1>
<h2>
  <%= t(:liberty_has_no_price, scope: %i(home index)) %>
</h2>

<div class="row">
  <div class="col-sm-2 order-md-1 order-2">
    <%= image_pack_tag "undraw_security_on.svg", width: '100%' %>
  </div>
  <div class="col-sm-4 order-md-2 order-1">
    <h3>
      <%= t(:privacy_matters, scope: %i(home security)) %>
    </h3>
    <%= t(:privacy_arg_html, scope: %i(home security)) %>
  </div>
</div>

<div class="row mt-4">
  <div class="col-sm-2 order-md-1 order-2">
    <%= image_pack_tag "undraw_open_source_1qxw.svg", width: '100%' %>
  </div>
  <div class="col-sm-4 order-md-2 order-1">
    <h3>
      <%= t(:title, scope: %i(home security open_source)) %>
      <br>
      <small>
        <%= t(:subtitle, scope: %i(home security open_source)) %>
      </small>
    </h3>
    <%= t(:paragraph_html, scope: %i(home security open_source)) %>
  </div>

  <div class="col-sm-2 order-md-3 order-4">
    <%= image_pack_tag "undraw_connected_world_wuay.svg", width: '100%' %>
  </div>
  <div class="col-sm-4 order-md-4 order-3">
    <h3>
      <%= t(:title, scope: %i(home security decentralization)) %>
    </h3>
    <%= t(:paragraph_html, scope: %i(home security decentralization)) %>

    <%= link_to decentralize_path, class: 'btn btn-blue btn-block pt-1 pb-1' do %>
      <%= t(:more_about, scope: %i(home security decentralization)) %>
    <% end %>
  </div>
</div>

<div class="row mt-4">
  <div class="col-sm-2 order-md-1 order-2">
    <%= image_pack_tag "rails-logo.svg", width: '88%', class: 'white-shape' %>
  </div>
  <div class="col-sm-4 order-md-2 order-1">
    <h3>Ruby on Rails</h3>
    <%= t(:paragraph_html, scope: %i(home security framework)) %>
  </div>

  <div class="col-sm-2 order-md-3 order-4">
    <%= image_pack_tag "undraw_security.svg", width: '100%' %>
  </div>
  <div class="col-sm-4 order-md-4 order-3">
    <h3>
      <%= t(:title, scope: %i(home security encrypted)) %>
    </h3>
    <%= t(:paragraph_html, scope: %i(home security encrypted)) %>
  </div>
</div>
