<h1>
  <%= t(:tos) %>
</h1>

<div class="row">
  <div class="col-sm-3 order-md-1 order-2">
    <%= image_pack_tag "undraw_terms_lso0.svg", width: '100%' %>
  </div>
  <div class="col-sm-9 order-md-2 order-1">
    <%= @tos %>
  </div>
</div>
