<div class="center">
  <h1>
    <%= t(:sign_in, scope: [:devise, :sessions, :new]) %>
  </h1>
  <h2>
    <%= t(:pro) %>
  </h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control w-100" %>
    </div>

    <div class="form-group">
      <%= f.label :password, { class: 'mb-0' } %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control w-100" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-group">
        <%= f.check_box :remember_me, {class: "switch"} %>
        <%= f.label :remember_me, class: "form-check-label switch switch-sm" %>
        <%= f.label :remember_me, class: "form-check-label" %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.submit t(:sign_in, scope: [:devise, :sessions, :new]), class: "btn btn-md btn-block btn-success" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>
