body{
  background-color: $light;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  font-family: sans-serif;
  font-display: swap;
  margin: 0;
  font-weight: lighter;
}

header{
  min-height: $header_height;
  nav{
    padding: .5em .8em .6em 1.5em;
    &.signed_in{
      padding-right: 2em;
    }
    display: flex;
    justify-content: space-between;
    a{
      text-decoration: none;
      justify-self: flex-start;
      color: $light;
      font-size: 1.2rem;
      span.fa-layers-text{
        color:#424242;
      }
    }
    a:hover, a:active{
      text-decoration: underline;
      color: #fff;
    }
    a, a:link, a:hover{
      vertical-align: middle;
    }
    a:nth-child(2){
      margin-left: 1em;
      margin-right: auto;
    }
    #home_link{
      margin-left: 0;
      margin-right: auto;
    }
    #home_link + a{
      margin-right: 1em;
    }
    .profile_link{
      margin-left: auto;
      margin-right: 1em;
    }
    a:last-child{
      margin-right: 1em;
    }
    &.signed_in{
      a:last-child{
        margin-right: 0;
      }
    }
  }
  &:after{
    content: "";
    border-top: calc(#{$header_height}*1.7) solid $blue_dark;
    border-left  : $header_height solid transparent;
    border-right : $header_height solid transparent;
    z-index: -1;
    display: flex;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width  : calc(100% - #{$header_height*2});
    box-sizing: content-box;
  }
}

main{
  flex-grow: 1;
  padding: 0 $header_height 0.2em $header_height;
  .center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
footer{
  @include bg-nav;
  padding: 0.8em;
  display: flex;
  a:not(:first-child){
    margin-left: 0.5em;
  }
  div:last-child{
    margin-left: auto;
  }
}

h1, h2, h3, h4{
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
h3{
  font-weight: normal;
}
h4, h5{
  font-weight: lighter;
}
h1{
  color: $blue_darker;
}
h2{
  color: $blue;
}
h3{
  color: $blue_darker;
}
h4{
  color: $blue_dark;
}
// ////////////
// // Mobile //
// ////////////
@media screen and (min-width: 300px) and (max-width: 768px){
  header nav {
    a:last-child{
      margin-right: 0.2em;
    }
    #home_link + a{
      margin-right: 0.2em;
    }
    &.signed_in{
      #home_link + a{
        margin-right: 1em;
      }
    }
  }
  main{
    padding: 0 calc(#{$header_height}/2) 0.2em calc(#{$header_height}/2);
  }
  footer{
    a{
      display: block;
      margin-left: 0;
    }
    a:not(:first-child){
      margin-left: 0;
    }
    #home_link{
      margin-left: auto;
      margin-right: auto;
    }
  }
}
