// objects

.hr-around{
  position: relative;
  &:before, &:after{
    content: "";
    position: absolute;
    top: 50%;
    background-color: $blue_dark;
    width: 168px;
    height: 2px;
  }
  &:before{
    left: 0;
  }
  &:after{
    right: 0;
  }
}
@media only screen and (max-width: 768px){
  .hr-around{
    &:before, &:after{
      width: 98px;
    }
  }
}

.cards-wrapper{
  .row{
    & > :nth-child(1){
      padding-right: 0.25rem;
    }
    & > :nth-child(2){
      padding-left: 0.25rem;
    }
  }
}
@media only screen and (max-width: 768px){
  .cards-wrapper{
    .row{
      & > :nth-child(1){
        padding-right: 15px;
      }
      & > :nth-child(2){
        padding-left: 15px;
        margin-top: 0.25rem;
      }
    }
  }
}

// Devise error
#error_explanation{
  padding: 0.2em 1em;
  h2{
    color: $pink;
  }
  ul li{
    color: $pink_light;
  }
}
input.form-control{
  width: auto;
}
.dummy_robot{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

@media only screen and (max-width: 1280px){
  #home_index{
    img{
      max-width: 500px;
    }
  }
}

.white-shape{
  filter: drop-shadow(1px 1px 0px white);
}

// ///////////////
// // Dark mode //
// ///////////////
@media screen and (prefers-color-scheme: dark) {
  body, .list-group-item, .modal-content, .card, .jumbotron {
    background-color: $dark;
    color: $light;
  }
  h1{
    color: $blue_lighter;
  }
  h2{
    color: $blue_light;
  }
  h3{
    color: $blue_lighter;
    small{
      color: $purple_lighter;
    }
  }
  h4{
    color: $blue;
  }
  a, small a{
    color: $pink_light;
    &:hover{
      color: $pink;
    }
  }
  header:after{
    border-top-color: $blue_darker;
  }
  footer {
    background-color: $blue_darker;
  }
  .nav-tabs {
    border-bottom-color: $blue_dark;
    .nav-item .nav-link{
      color: $light;
      border: 1px solid $blue_dark;
      background-color: $blue_darker;
      border-bottom: none;
      margin: 0 0.2em;
      &.active{
        background-color: $dark;
      }
    }
  }
  .fc td.fc-today, .fc-unthemed td.fc-today{
    background-color: $pink_dark;
  }
  $faces : (fa-smile, fa-meh, fa-frown, fa-angry);
  @each $face in $faces{
    // unchecked
    input[type="radio"] + .#{$face}:before,
    input[type="radio"] + label > .#{$face}:before,
    input[type="radio"].svg-inline--fa:before {
      color: $light;
    }
  }
  .jumbotron{
    background-color: $blue_darker;
    color: $blue_lighter;
  }
  .modal{
    color: $light;
    border: 1px solid $light;
  }
}
