// bootstrap_overrides
.btn, .card, .list-group-item:first-child, , .list-group-item:last-child{
  border-radius: 0;
}
// ////////
// BUTTONS
// ////////
.btn-pink{
  background-color: $pink;
  color: $light;
}
.btn-pink:hover{
  background-color: $pink_dark;
  color: $light;
}
.btn-blue{
  background-color: $blue;
  color: $light;
}
.btn-blue:hover{
  background-color: $blue_dark;
  color: $light;
}
.btn-blue-dark{
  background-color: $blue_dark;
  color: $light;
}
.btn-blue-dark:hover{
  background-color: $blue_darker;
  color: $light;
}
.btn-purple{
  background-color: $purple;
  color: $light;
}
.btn-purple:hover{
  background-color: $purple_dark;
  color: $light;
}
.btn-square{
  width: 100%;
  height: 300px;
}

// NAVS
.nav-tabs .nav-item .nav-link{
  color: $purple;
}
// ///////
// CARDS
// ///////
.card h3{
  color: $light;
}

.card.bg-blue{
  background-color: $blue-dark;
  color: $light;
  a, h3, h4{
    color: $light;
  }
}

.card.bg-blue-dark{
  background-color: $blue-darker;
  h3{
    color: $blue_light;
  }
}

.card.bg-purple{
  background-color: $purple-dark;
  h3{
    color: $light;
  }
}

.card.bg-pink{
  background-color: $pink-dark;
  h3{
    color: $pink_light;
  }
}

// MODALS
.modal .modal-dialog.modal-lg, .modal .modal-dialog.modal-sm{
  transition: 0.2s linear;
  .end{
    max-height: 1.5em;
  }
}

.jumbotron{
  padding: 2rem;
  margin-bottom: 1rem;
  border-radius: 0;
}
