// settings
$dark: #424242 !global;
$light: #fefefe !global;

$blue: #22ADC2;
$blue_light: #44BDCE;
$blue_lighter: #6FD0DD;
$blue_dark: #03A2B8;
$blue_darker: #027383;

$pink: #F50067;
$pink_dark: #B3004B;
$pink_light: #F32D80;

$purple: #6C398B;
$purple_dark: #572376;
$purple_darker: #3F0F5C;
$purple_light: #885AA4;
$purple_lighter: #B08CC6;

$green: #32ad3e;
// $green_light: #A4FA00;
// $green_dark: #80C400;

$header_height: 22px;
$switch-width: 62px;
$switch-padding: 2px;

.pink{
  color: $pink;
}

.blue_light{
  color: $blue_light;
}
.blue_dark{
  color: $blue_dark;
}
.yellow{
  color: $yellow;
}
.red{
  color: $red;
}

.green{
  color: $green;
}

.purple{
  color: $purple;
}
