@mixin bg-nav {
  background-color: $blue_dark;
  a, a:link, a:hover{
    color: $light;
  }
}

.visible-mobile, .hidden{
  display: none;
}

@media only screen and (max-width: 500px){
  .invisible-mobile{
    display: none !important;
  }
  .visible-mobile{
    display: block;
  }
}
