.profile_link{
  position: relative;
  display: inline-block;
  text-decoration: underline;
  line-height: 1;
  small{
    display: block;
    text-decoration: none;
    font-size: 10px;
    position: absolute;
    left: 20%;
    bottom: -2px;
  }
}
#legend{
  padding: .2em .42em .5em .42em;
  div{
    padding: 0.5em;
    margin: 0.1em;
    font-size: 14px;
  }
  .empty{
    background-color: #424242;
    color:#fff;
  }
  .full{
    background-color: #42BB42;
  }
}

/* picker */
.color-picker {
    background: rgba(255, 255, 255, 0.75);
    padding: 10px;
    border: 1px solid rgba(203, 203, 203, 0.6);
    border-radius: 2px;
}

.color-picker > div {
    width: 40px;
    display: inline-block;
    height: 40px;
    margin: 5px;
    border-radius: 100%;
    opacity: 0.7;
}

.picker-wrapper {
  padding: 0;
}

.color-picker > div:hover {
    opacity: 1;
}

.description{
  min-height: 8em;
}
