.hide {
  display: none;
  visibility: hidden;
}

input[type="radio"] + .fas,
input[type="radio"] + label > .fas,
input[type="radio"] + .svg-inline--fa,
input[type="radio"] + label > .svg-inline--fa
{ cursor: pointer; }

$faces : (fa-smile, fa-meh, fa-frown, fa-angry);
@each $face in $faces{
  // unchecked
  input[type="radio"] + .#{$face}:before,
  input[type="radio"] + label > .#{$face}:before,
  input[type="radio"].svg-inline--fa:before {
    color: $dark;
  }
  // checked
  input[type="radio"]:checked + .#{$face}:before,
  input[type="radio"]:checked + label > .#{$face}:before,
  input[type="radio"]:checked.svg-inline--fa:before {
    @if $face == fa-smile{
     color: $green;
    }@else if $face == fa-meh{
      color: $blue_light;
    }@else if $face == fa-frown{
      color: $yellow;
    }@else if $face == fa-angry{
      color: $red;
    }@else{
      color: $purple;
    }
  }
}
