.fc-toolbar.fc-header-toolbar{
  margin-bottom: 0.2em;
  h2{
    font-size: 1.2em;
  }
}
.fc-button-primary, .fc-today-button{
  background-color: $blue;
  border-color: $blue_dark;
  padding: 0.2em 0.5em;
  &:hover{
    background-color: $blue_light;
  }
}
.fc-button-primary:not(:disabled):active,
.fc-button-primary:not(:disabled).fc-button-active{
  background-color: $blue_dark;
  border-color: $blue_darker;
  &:hover{
    background-color: $blue_light;
  }
}

.fc-button-primary:disabled{
  background-color: $blue_lighter;
  border-color: $blue_light;
  color: $blue_light;
}

.fc-dayGridMonth-button{

}
.fc-widget-content .fc-time-grid-container{
  height: auto !important;
}
.fc-unthemed .fc-divider{
  background: none;
  border: none;
}
.fc-slats .fc-minor td.fc-widget-content{
  border-top: none;
}

@media only screen and (max-width: 1200px){
  .fc-header-toolbar{
    h2{
      font-size: 1.2em;
    }
    .fc-button-group{
      margin-left: 0.2em;
    }
    .fc-button{
      padding: 0.2em 0.42em;
    }
  }
}

@media only screen and (max-width: 768px){
  #calendar{
    min-height: 400px;
  }
  .fc-header-toolbar{
    flex-direction: column;
    h2{
      font-size: 1em;
    }
    .fc-button-group{
      margin: 0.2em;
    }
    .fc-button{
      padding: 0.1em 0.22em;
    }
  }
  .fc-timeGridWeek-button, .fc-dayGridMonth-button, .fc-timeGridWorkingDays-button, .fc-timeGridDay-button{
    display: none;
  }
}
