.flip-wrapper{
  perspective: 1000px;
  position: relative;
  display: block;

  /* flip the pane when hovered */
  &:hover .flipper, &.hover .flipper, &.flip .flipper {
    transform: rotateY(180deg);
  }

  /* flip speed goes here */
  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;

    /* hide back of pane during swap */
    .front, .back {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    /* front pane, placed above back */
    .front {
      z-index: 2;
      /* for firefox 31 */
      transform: rotateY(0deg);
    }

    /* back, initially hidden pane */
    .back {
      transform: rotateY(180deg);
    }
  }
  &.js-modal{
    cursor: pointer;
  }
}

.flip-wrapper, .front, .back {
  width: 360px;
  height: 200px;
}
