/* needed for old browsers */
dialog {
  display: block;
  border: 0;
}
/* removes scroll when modal is opened */
.no-scroll {
  overflow: hidden;
}
/* overlay covers everything */
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 666;
}

$modal_top-pos: 5%;
$modal_left-pos: 10%;
$modal_width: 80%;
$modal_height: 90vh;

/* modal */
.modal {
  position: fixed;
  left: $modal_left-pos;
  right: auto;
  top: $modal_top-pos;
  width: $modal_width;
  max-height: $modal_height;
  overflow-y: auto;
  background: #fff;
  z-index: 667;
  animation: apparition ease .5s 1 normal ;
}
.modal-content{
  position: relative;
  width: 100%;
  z-index: 2;
}
.modal-overlay{
  background-color: $dark;
  opacity: 0.7;
}

@keyframes apparition {
  0% {
    opacity: 0;
    max-height: 0;
    height: 0;
    width: calc(#{$modal_width}/2);
    left: $modal_left-pos;
  }
  100% {
    opacity: 1;
    max-height: $modal_height;
    height: $modal_height;
    width: $modal_width;
    left: $modal_left-pos;
  }
}

// close btn
.modal-close,
.animated-modal-close {
  float: right;
  background: $blue_darker;
  color: $light;
  border: 0;
  font: inherit;
  padding: .25em .5em .10em .5em;
  cursor: pointer;
  margin-bottom: .5em;
  position: relative;
  z-index: 888;
}
.modal-close:focus,
.modal-close:hover,
.modal-close:active {
  outline: 1px dotted $light;
}
.modal-close:hover,
.modal-close:active {
  background: $pink;
}

/* for this example: tablets */
@media (max-width: 55.625em) {

  .modal,
  .animated-modal {
    left: 5%;
    top: 5%;
    height: 90%;
    width: 90%;
  }

}

/* for this example: mobile */
@media (max-width: 44.375em) {

  .modal,
  .animated-modal {
    left: 1%;
    top: 1%;
    width: 98%;
    height: 98%;
  }

}
