$switch-width: 62px;
$switch-padding: 2px;

input[type=checkbox].switch{
  height: 0;
  width: 0;
  visibility: hidden;
  display: none;
}

label.switch {
  cursor: pointer;
  text-indent: -9999px;
  width: $switch-width;
  height: calc(#{$switch-width}/2);
  background: $dark;
  display: inline-block;
  position: relative;
  margin: 0.2em;
}

label.switch:after {
  content: '';
  position: absolute;
  top: $switch-padding;
  left: $switch-padding;
  width: calc(#{$switch-width}/2 - #{$switch-padding}*2);
  height: calc(#{$switch-width}/2 - #{$switch-padding}*3);
  background: $light;
  transition: 0.3s;
}

input:checked + label.switch {
  background: $green;
}

input:checked + label.switch:after {
  left: calc(100% - #{$switch-padding});
  transform: translateX(calc(-100% - #{$switch-padding}/2));
}

label.switch:active:after {
  width: $switch-width;
}

// SMALL
label.switch.switch-sm {
  width: calc(#{$switch-width}*2/3);
  height: calc(#{$switch-width}*1/3);
}
label.switch.switch-sm:after {
  width: calc(#{$switch-width}*1/3 - #{$switch-padding}*2);
  height: calc(#{$switch-width}*1/3 - #{$switch-padding}*3);
}

input:checked + label.switch.switch-sm:after {
  left: calc(100% - #{$switch-padding}*2);
  transform: translateX(calc(-100% + #{$switch-padding}));
}

@media screen and (prefers-color-scheme: dark) {
  label.switch{
    border: 1px solid $blue_darker;
  }
  input:checked + label.switch {
    background: $blue_darker;
  }
}
