<%= form_with(model: event_type, local: true) do |form| %>
  <% if event_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_type.errors.count, "error") %> prohibited this event_type from being saved:</h2>

      <ul>
        <% event_type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :label %>
    <%= form.text_field :label %>
  </div>

  <div class="form-group picker-wrapper">
    <%= form.label :color %>
    <%= form.text_field :color %>
    <div class="color-picker">
    </div>
  </div>

  <%= form.check_box :is_available, { class: 'switch' } %>
  <%= form.label :is_available, { class: 'switch switch-sm' } %>
  <%= form.label :is_available, t(:availability , scope: :event_types) %>

  <%= form.check_box :is_meeting, { class: 'switch' } %>
  <%= form.label :is_meeting, { class: 'switch switch-sm' } %>
  <%= form.label :is_meeting, t(:meeting , scope: :event_types) %>

  <%= form.check_box :is_offtime, { class: 'switch' } %>
  <%= form.label :is_offtime, { class: 'switch switch-sm' } %>
  <%= form.label :is_offtime, t(:offtime , scope: :event_types) %>

  <div class="actions">
    <%= form.submit class: 'btn btn-md btn-success' %>
  </div>
<% end %>

