<h1>Editing Event Type</h1>

<%= render 'form', event_type: @event_type %>

<hr>

<%= link_to @event_type, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" do %>
  <span class="fas fa-trash"></span>
  Destroy
<% end %>
