<p id="notice"><%= notice %></p>

<h1>Event Types</h1>

<%= link_to 'New Event Type', new_event_type_path %>

<table class="table table-sm table-dark">
  <thead>
    <tr>
      <th>Label</th>
      <th>Color</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_types.each do |event_type| %>
      <tr style="background-color: <%= event_type.color %>;">
        <td><%= event_type.label %></td>
        <td>
          <%= event_type.color %>
        </td>
        <td>
          <%= link_to edit_event_type_path(event_type), class: "btn btn-sm btn-secondary" do %>
              <span></span>
              Edit
          <% end %>
        </td>
        <td>
          <%= link_to event_type, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-secondary" do %>
              <span></span>
              Destroy
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

