<h1>Dashboard</h1>

<div class="card-deck">

  <div class="card">
    <div class="card-body text-center">
      <h2>Pages</h2>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <strong>
          <%= t(:home_disclaimer) %>
        </strong>
        <span class="fas <%= @admin_settings.home_disclaimer.present? ? 'fa-check text-success' : 'fa-times text-danger' %>"></span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <strong>
          <%= t(:tos) %>
        </strong>
        <span class="fas <%= @admin_settings.tos.present? ? 'fa-check text-success' : 'fa-times text-danger' %>"></span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <strong>
          <%= t(:privacy) %>
        </strong>
        <span class="fas <%= @admin_settings.privacy.present? ? 'fa-check text-success' : 'fa-times text-danger' %>"></span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <strong>
          <%= t(:legal) %>
        </strong>
        <span class="fas <%= @admin_settings.legal.present? ? 'fa-check text-success' : 'fa-times text-danger' %>"></span>
      </li>
    </ul>
  </div>

  <div class="card">
    <div class="card-body text-center">
      <h2>
        <span class="fas fa-server"></span>
        Servers
        <br>
        <span class="badge badge-info">
          <%= @servers_count %>
        </span>
      </h2>
    </div>
    <div class="card-footer p-0">
      <%= link_to admin_servers_path, class: 'btn btn-sm btn-block btn-blue-dark' do %>
        <%= t(:see) %>
      <% end %>
    </div>
  </div>

  <div class="card">
    <div class="card-body text-center">
      <h2>
          <span class="fas fa-users"></span>
          Users
          <br>
          <span class="badge badge-info">
            <%= @users_count %>
          </span>
      </h2>
    </div>
    <div class="card-footer p-0">
      <%= link_to admin_users_path, class: 'btn btn-sm btn-block btn-blue-dark' do %>
        <%= t(:see) %>
      <% end %>
    </div>
  </div>

  <div class="card">
    <div class="card-body text-center">
      <h2>Subscriptions</h2>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <% if @admin_settings.register_pro? %>
          <span class="fas fa-check green"></span>
          Inscriptions ouvertes aux pros
        <% else %>
          <span class="fas fa-ban red"></span>
          Closed for users
        <% end %>
        <br>
        <small>
          <% if @admin_settings.max_users == 0 %>
            <span class="fas fa-infinity"></span>
          <% elsif @users_count >= @admin_settings.max_users %>
            <span class="fas fa-exclamation-triangle text-danger"></span>
          <% end %>
          max users: <%= @admin_settings.max_users %>
        </small>
      </li>
      <li class="list-group-item">
        <% if @admin_settings.register_attendee? %>
          <span class="fas fa-check green"></span>
          Open for attendees
        <% else %>
          <span class="fas fa-ban red"></span>
          Closed for attendees
        <% end %>
      </li>
    </ul>
  </div>
</div>
