<h1>
  <%= t(:settings) %>
</h1>

<%= form_with(model: @admin_settings, local: true, url: admin_update_settings_path) do |form| %>
  <% if @admin_settings.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_settings.errors.count, "error") %> prohibited settings from being saved:</h2>

      <ul>
        <% @admin_settings.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-8">

      <div class="card-deck">
        <div class="card">
          <div class="card-body pack-trix">
            <%= form.label :home_disclaimer %>
            <%= form.rich_text_area :home_disclaimer %>
          </div>
        </div>
        <div class="card ml-1">
          <div class="card-body pack-trix">
            <%= form.label :tos %>
            <%= form.rich_text_area :tos %>
          </div>
        </div>
      </div>

      <div class="card-deck mt-3">
        <div class="card">
          <div class="card-body pack-trix">
            <%= form.label :privacy %>
            <%= form.rich_text_area :privacy %>
          </div>
        </div>
        <div class="card ml-1">
          <div class="card-body pack-trix">
            <%= form.label :legal %>
            <%= form.rich_text_area :legal %>
          </div>
        </div>
      </div>

      <div class="card-deck mt-3">
         <div class="card bg-purple text-white">
          <div class="card-header">
            <span class="fas fa-code"></span>
            Metas
          </div>
          <div class="card-body">

            <div class="form-group">
              <%= form.label :title %>
              <%= form.text_field :title %>
            </div>

            <div class="form-group">
              <%= form.label :description %>
              <%= form.text_field :description, class: 'col' %>
            </div>

            <div class="form-group row">
              <div class="col">
                <%= form.label :twitter_site %>
                <%= form.text_field :twitter_site %>
              </div>

              <div class="col">
                <%= form.label :twitter_creator %>
                <%= form.text_field :twitter_creator %>
              </div>
            </div>

            <div class="form-group row">
              <%= form.label :image %>
              <%= form.file_field :image %>
              <% if @settings.image.attached? %>
                <%= image_tag @settings.image, width: '100%' %>

                <%= link_to admin_delete_image_path, class: 'btn btn-sm btn-danger', method: :delete do %>
                  <span class="fas fa-trash"></span>
                  <%= t(:delete) %>
                <% end %>

              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-4">

      <div class="card bg-dark text-white">
        <div class="card-header">
          <span class="fas fa-user-tie"></span>
          Pros
        </div>
        <div class="card-body">

          <div class="row form-group">
            <div class="col-sm-7">
              <h4>
              <%= form.label :register_pro, t('.user_can_subscribe') %>
              </h4>
            </div>
            <div class="col-sm-5">
              <%= form.check_box :register_pro, { class: 'switch' } %>
              <%= form.label :register_pro, t('.user_can_subscribe'), class: 'switch' %>
            </div>
          </div>

          <div class="form-group">
            <%= form.label :max_users %>
            <%= form.number_field :max_users, min: 0 %>
          </div>

          <div class="row">
            <div class="col-sm-7">
              <h4>
              <%= form.label :register_attendee, t('.attendee_can_subscribe') %>
              </h4>
            </div>
            <div class="col-sm-5">
              <%= form.check_box :register_attendee, { class: 'switch' } %>
              <%= form.label :register_attendee, t('.attendee_can_subscribe'), class: 'switch' %>
            </div>
          </div>
        </div>
      </div>

      <%= form.submit t(:save), class: 'btn btn-blue mt-4 btn-square' %>

    </div>

  </div>

<% end %>
