<% flash.each do |key, value| %>
  <div class="alert <%= twitter_alert_type(key) %> alert-dismissable" role="alert">
    <a href="#" data-dismiss="alert" class="close" aria-label="<%= t(:close) %>">×</a>
    <%= value %>
  </div>
<% end %>
