<footer>
  <div>
    <%= link_to legal_path do %>
      <%= t(:legal) %>
    <% end %>
    <%= link_to tos_path do %>
      <%= t(:tos) %>
    <% end %>
    <%= link_to privacy_path do %>
      <%= t(:privacy) %>
    <% end %>
  </div>

  <% if signed_in? %>
    <%= link_to root_path, id: "home_link" do %>
      <span class="fas fa-home" aria-label="<%= t(:home) %>">
      </span>
      <span class="invisible-mobile">
        <%= t(:label, scope: :home) %>
      </span>
    <% end %>
  <% end %>

  <div>
    <a href="https://twitter.com/kaldotech">
      <span class="fab fa-twitter" aria-label="Twitter" alt='Twitter'></span>
    </a>
    <%= link_to credits_path do %>
      <span class="fas fa-heart"></span>
      <%= t(:credits) %>
    <% end %>

    <%= link_to security_path do %>
      <span class="fas fa-shield-alt"></span>
      <%= t(:security) %>
    <% end %>
  </div>
</footer>
