  <meta property="og:type" content="website" >
  <meta property="og:url" content="<%= request.original_url %>" >

<% if defined?(@settings) %>
  <meta name="description" content="<%= @meta_description %>" >
  <meta property="og:title" content="<%= @meta_title %>" >
  <meta property="og:site_name" content="<%= @meta_title %>" >
  <meta property="og:description" content="<%= @meta_description %>" >
  <% if @settings.image.attached? %>
    <meta property="og:image" content="<%= polymorphic_url(@settings.image) %>" >
  <% end %>

  <meta name="twitter:card" content="summary" >
  <meta name="twitter:site" content="<%= @meta_twitter_site %>" >
  <meta name="twitter:title" content="<%= @meta_title %>" >
  <meta name="twitter:description" content="<%= @meta_description %>" >
  <meta name="twitter:creator" content="<%= @meta_twitter_creator %>" >
  <% if @settings.image.attached? %>
    <meta name="twitter:image:src" content="<%= polymorphic_url(@settings.image) %>" >
    <meta name="twitter:image" content="<%= polymorphic_url(@settings.image) %>" >
  <% end %>
<% end %>
