<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>
      <%= t(:appname) %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="theme-color" content="#22ADC2">
    <%= render partial: 'layouts/meta' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <nav class="<%= signed_in? ? 'signed_in' : '' %>">
        <% if user_signed_in? %>
          <%= link_to user_agenda_path(current_user) do %>
            <span class="fa-layers fa-fw">
              <i class="fas fa-calendar"></i>
              <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-7 down-4">
                <%= Date.today.day %>
              </span>
            </span>
            <%= t(:agenda) %>
          <% end %>
          <%= link_to user_attendees_path(current_user) do %>
            <span class="fas fa-users"></span>
            <span class="invisible-mobile"><%= t(:attendees, scope: :users) %></span>
          <% end %>
        <% elsif admin_signed_in? %>
          <%= link_to admin_dashboard_path do %>
            <span class="fas fa-tachometer-alt"></span>
            <%= t(:dashboard) %>
          <% end %>
          <div class="pl-4">
            <%= link_to admin_servers_path do %>
              <span class="fas fa-server"></span>
              <%= t(:servers) %>
            <% end %>
            <%= link_to admin_users_path do %>
              <span class="fas fa-users"></span>
              <%= t(:title, scope: %i[admin users]) %>
            <% end %>
          </div>
        <% end %>

        <% if user_signed_in? %>
          <%= link_to edit_user_registration_path, class: 'profile_link' do %>
            <span class="fas fa-cog" aria-label="<%= t(:settings) %>"></span>
            <span class="invisible-mobile"><%= t(:settings) %></span>
            <small class="invisible-mobile"><%= current_user.name or current_user.email %></small>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <span class="fas fa-power-off pink" aria-label="Logout"></span>
            <span class="invisible-mobile"><%= t(:logout) %></span>
          <% end %>
        <% else %>
          <% unless admin_signed_in? || attendee_signed_in? %>
            <%= link_to new_user_session_path do %>
              <span class="fas fa-user-tie" aria-label="Login Pro"></span>
              <%= t(:login_pro) %>
            <% end %>
            <%= link_to new_attendee_session_path do %>
              <span class="fas fa-user" aria-label="Login"></span>
              <%= t(:login) %>
            <% end %>
          <% end %>
        <% end %>

        <% if admin_signed_in? %>
          <%= link_to admin_settings_path, class: 'profile_link' do %>
            <span class="fas fa-cogs"></span>
            <span class="invisible-mobile">
              <%= t(:settings) %>
            </span>
          <% end %>
          <%= link_to destroy_admin_session_path, method: :delete do %>
            <span class="fas fa-power-off pink" aria-label="Logout"></span>
            <span class="invisible-mobile">
              <%= t(:logout) %>
            </span>
          <% end %>
        <% end %>

        <% if attendee_signed_in? %>
          <%= link_to edit_attendee_registration_path, class: 'profile_link' do %>
            <span class="fas fa-cog" aria-label="<%= t(:settings) %>"></span>
            <span class="invisible-mobile"><%= t(:settings) %></span>
            <small class="invisible-mobile"><%= current_attendee.name or current_attendee.email %></small>
          <% end %>
          <%= link_to destroy_attendee_session_path, method: :delete do %>
            <span class="fas fa-power-off pink" aria-label="Logout"></span>
            <%= t(:logout) %>
          <% end %>
        <% end %>

      </nav>
    </header>

    <main>
      <%= render partial: 'layouts/flashes' %>
      <%= yield %>
    </main>

    <%= render partial: 'layouts/footer' %>

  </body>
</html>
