<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= t(:appname) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_pack_tag 'attendee', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'attendee', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <nav class="<%= signed_in? ? 'signed_in' : '' %>">

        <%= link_to attendee_agenda_path do %>
          <span class="fa-layers fa-fw">
            <i class="fas fa-calendar"></i>
            <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-7 down-4">
              <%= Date.today.day %>
            </span>
          </span>
          <%= t(:agenda) %>
        <% end %>

        <div id="home_link"></div>

        <%= link_to edit_attendee_registration_path, class: 'profile_link' do %>
          <span class="fas fa-cog" aria-label="<%= t(:settings) %>"></span>
          <span class="invisible-mobile"><%= t(:settings) %></span>
          <small class="invisible-mobile"><%= current_attendee.name or current_attendee.email %></small>
        <% end %>
        <%= link_to destroy_attendee_session_path, method: :delete do %>
          <span class="fas fa-power-off pink" aria-label="<%= t(:logout) %>"></span>
          <span class="invisible-mobile"><%= t(:logout) %></span>
        <% end %>

      </nav>
    </header>

    <main>
      <%= render partial: 'layouts/flashes' %>
      <%= yield %>
    </main>

    <%= render partial: 'layouts/footer' %>

  </body>
</html>
